{% import "helpers.html.twig" as pulser %}

<p>
    <strong>Contact</strong>
    <br>
    {{ Field1 }} {{ Field2 }} ({{ Field5 }})
    <br>
    {{ pulser.email(Field3) }}

    {% if Field4 is not empty %}
        <br>
        {{ pulser.telephone(Field4) }}
    {% endif %}
</p>

<p>
    <strong>Adviser</strong>
    <br>
    {{ Field148 }} {{ Field149 }}
    <br>
    {{ pulser.email(Field150) }}
</p>

{% if Field465 is not empty %}
    <hr>

    <p>
        <strong>Event Details</strong>
        <br>
        Name: {{ Field7 }}
        <br>
        Date: {{ Field116 | parse_date("Ymd") | date("M d, Y") }} @ {{ Field117 | date("g:ia") }}
        <br>
        Location: {{ Field119 }}
        <br>
        Cost: {{ Field138 }}
        <br>
        Ticket Sale Location: {{ Field139 }}
        <br>
        Budget: {{ Field132 }}
        <br>
        Has this event been done before? {{ Field10 }}
    </p>

    <p>
        <strong>Target Audience</strong>
    </p>

    <ul>
        {{ pulser.conditionalListItem(Field12) }}
        {{ pulser.conditionalListItem(Field13) }}
        {{ pulser.conditionalListItem(Field14) }}
    </ul>

    <p>
        <strong>Event Description</strong>
        <br>
        {{ Field143 | nl2br }}
    </p>

    <p>
        <strong>Event Selling Points</strong>
        <br>
        {{ Field129 | nl2br }}
    </p>

    <p>
        <strong>Required Marketing</strong>
    </p>
    <ul>
        {{ pulser.conditionalListItem(Field154) }}
        {{ pulser.conditionalListItem(Field155) }}
        {{ pulser.conditionalListItem(Field159) }}
        {{ pulser.conditionalListItem(Field156) }}
        {{ pulser.conditionalListItem(Field157) }}
        {{ pulser.conditionalListItem(Field158) }}
        {{ pulser.conditionalListItem(Field160) }}
    </ul>

    {% if Field135 is not empty %}
        <p>
            <strong>Additional Marketing Needs</strong>
            <br>
            {{ Field135 | nl2br }}
        </p>
    {% endif %}

    {% if Field462 is not empty or Field463 is not empty %}
        <p>
            <strong>Attachments</strong>
        </p>

        <ul>
            {{ pulser.filedownload(Field462) }}
            {{ pulser.filedownload(Field463) }}
        </ul>
    {% endif %}
{% endif %}

{% if Field466 is not empty %}
    <hr>

    <p>
        <strong>Name</strong>
        <br>
        {{ Field1378 }}
    </p>

    <p>
        <strong>Description</strong>
        <br>
        {{ Field256 | nl2br }}
    </p>

    {% if Field1275 is not empty or Field136 is not empty %}
        <p>
            <strong>Attachments</strong>
        </p>

        <ul>
            {{ pulser.filedownload(Field1275) }}
            {{ pulser.filedownload(Field136) }}
        </ul>
    {% endif %}
{% endif %}

{% if Field467 is not empty %}
    <hr>

    <p>
        <strong>Name</strong>
        <br>
        {{ Field1379 }}
    </p>

    <p>
        <strong>Description</strong>
        <br>
        {{ Field1274 | nl2br }}
    </p>

    {% if Field137 is not empty or Field1276 is not empty %}
        <p>
            <strong>Attachments</strong>
        </p>

        <ul>
            {{ pulser.filedownload(Field137) }}
            {{ pulser.filedownload(Field1276) }}
        </ul>
    {% endif %}
{% endif %}

{% if Field1168 is not empty %}
    <hr>

    <p>
        <strong>Additional Notes</strong>
    </p>

    {{ Field1168 | nl2br }}
{% endif %}