{% import "helpers.html.twig" as pulser %}

<p>
    <strong>Entry ID:</strong> {{ EntryId }}
    <br>
    <strong>Date Created:</strong> {{ DateCreated }}
    <br>
    <strong>Submitted by:</strong> {{ Field1 }} {{ Field2 }}
    <br>
    <strong>Submitter Email:</strong> {{ Field3 }}
    <br>
    <strong>Web page:</strong> {{ Field4 }}
    <br>
    <strong>Priority:</strong> {{ Field113 }}
</p>

<hr>

<p>
    <strong>Change Required:</strong>
    <br>
    {{ Field5 | nl2br }}
</p>

{% if Field10 is not empty %}
    <hr>

    <p>
        <strong>Instruction:</strong>
        <br>
        {{ Field10 | nl2br }}
    </p>
{% endif %}

{% if Field7 is not empty or Field8 is not empty %}
    <p><strong>File Attachments:</strong></p>

    <ul>
        {{ pulser.filedownload(Field8, Field8-url) }}
        {{ pulser.filedownload(Field7, Field7-url) }}
    </ul>
{% endif %}